@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #ffffff;
  --text: #111111;
}

.dark {
  --bg: #0a0a0a;
  --text: #f5f5f5;
}

body {
  background: var(--bg);
  color: var(--text);
}


.shadow-game {
  color: var(--bg);
  text-shadow:
    -1px -1px 0 hsl(0, 100%, 50%),
    -1px 1px 0 hsl(303, 100%, 50%),
    1px -1px 0 hsl(133, 100%, 50%),
    1px 1px 0 hsl(245, 100%, 50%);
}

.dotted-bg {
  background-image:
    radial-gradient(circle, red 1px, transparent 1px),
    radial-gradient(circle, green 1px, transparent 1px);
  background-size: 48px 48px, 120px 120px;
  background-position: 0 0, 40px 60px;
  /* animation: drift 60s linear infinite; */
}

.btn-3d {
  box-shadow: 5px 5px 0 0 #9b0000;
  transition: box-shadow 80ms ease, transform 80ms ease;
}

.btn-3d:hover {
  box-shadow: 7px 7px 0 0 #9b0000;
}

.btn-3d:active {
  box-shadow: 0 0px 0 0 #9b0000;
  transform: translateY(4px);
}

.btn-3d:disabled {
  box-shadow: 0 4px 0 0 #9b0000;
  transform: none;
}